:host {
  position: relative;
}

:host([design='card']) {
  @include bce-color-default(surface);
  @include elevate(1);
  display: block;
  margin-bottom: 0.5rem;
  padding: 1rem;
  border-radius: 4px;
  background-color: bce-color(surface);
  color: bce-color-on(surface);
}
