bce-root {
  /* Primary and accent colors */
  @include bce-define-color(#0a5460 #fff, primary);
  @include bce-define-color(#3f185c #fff, secondary);
  @include bce-define-color(#72222f #fff, tertiary);

  /* Semantic colors */
  @include bce-define-color(#1a562f #fff, success);
  @include bce-define-color(#b53131 #fff, error);
  @include bce-define-color(#d29e31 #fff, warning);
  @include bce-define-color(#3e8ebf #fff, info);

  /* Neutral colors */
  @include bce-define-color(#231f20 #fff, dark);
  @include bce-define-color(#f7f9f9 #000, light);
  @include bce-define-color(#cccccc #888, disable);
}

bce-root {
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  * {
    box-sizing: border-box;
  }

  main {
    background-color: bce-color(light);
  }
}
