html,
body {
  margin: 0;
  height: 100%;
}

/* Temporary */
main {
  padding: 16px;
}

section {
  height: 500px;
}

/* bce-root */
bce-root {
  @include bce-color-default(primary);

  // Primary and accent colors
  @include bce-color-define(#215475 #fff, primary);
  @include bce-color-define(#5c2a53 #fff, secondary);
  @include bce-color-define(#72222f #fff, tertiary);

  // Semantic colors
  @include bce-color-define(#1a562f #fff, success);
  @include bce-color-define(#b53131 #fff, error);
  @include bce-color-define(#d29e31 #fff, warning);
  @include bce-color-define(#3e8ebf #fff, info);

  // Neutral colors
  @include bce-color-define(#24292e #fff, dark);
  @include bce-color-define(#f7f9f9 #000, light);
  @include bce-color-define(#cccccc #888, disable);

  @include box-sizing();
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  a {
    @include bce-color-default(primary);
    color: bce-color();

    &:hover {
      color: bce-color-l();
    }
  }

  ::selection {
    background-color: bce-color();
    color: bce-color-t();
  }
}

bce-root {
  height: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    'stat stat'
    'head head'
    'side main';

  bce-status-bar {
    grid-area: stat;
  }

  bce-header {
    grid-area: head;
  }

  bce-side-bar {
    grid-area: side;
  }

  main {
    grid-area: main;
    background-color: bce-color-l(light);
  }
}
