html,
body {
  margin: 0;
  height: 100%;
}

:root {
  @include bce-color-default(primary);

  // Primary and accent colors
  @include bce-color-define(#215475 #fff, primary);
  @include bce-color-define(#5c2a53 #fff, secondary);
  @include bce-color-define(#72222f #fff, tertiary);

  // Semantic colors
  @include bce-color-define(#1a562f #fff, success);
  @include bce-color-define(#b53131 #fff, error);
  @include bce-color-define(#d29e31 #fff, warning);
  @include bce-color-define(#3e8ebf #fff, info);

  // Neutral colors
  @include bce-color-define(#24292e #fff, dark);
  @include bce-color-define(#f9f9f9 #000, light);
  @include bce-color-define(#cccccc #888, disable);

  // Component specific colors
  @include bce-color-define(rgba(100, 100, 100, 0.2) #616161, chip);
}

bce-root {
  display: grid;
  grid-template-columns: auto minmax(0, 1fr) auto;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    'status status status'
    'header header header'
    'l-side  main  r-side'
    'l-side footer r-side';
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  a {
    @include bce-color-default(primary);
    color: bce-color();

    &:hover {
      color: bce-color-l();
    }
  }

  bce-status-bar {
    grid-area: status;
  }

  header,
  bce-header {
    grid-area: header;
  }

  bce-side-bar[position='left'] {
    grid-area: l-side;
  }

  bce-side-bar[position='right'] {
    grid-area: r-side;
  }

  main {
    grid-area: main;
    width: 100%;
    height: 100%;
    background-color: bce-color-l(light);
  }

  footer,
  bce-footer {
    grid-area: footer;
  }

  ::selection {
    background-color: bce-color();
    color: bce-color-t();
  }
}

bce-dialog {
  > :first-child {
    margin-top: 8px;
  }

  p {
    opacity: 0.75;
  }
}

bce-code-editor {
  .codeflask {
    position: relative;
    background: transparent;
  }

  .codeflask__textarea {
    position: static;
    height: 48px;
    background-color: bce-color-l(light);
    border: 1px solid bce-color-d(light);
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out;
  }

  .codeflask__flatten {
    box-sizing: border-box;
    padding: 8px 10px;
    overflow: hidden;
  }

  &[focus] {
    .codeflask__textarea {
      border: 1px solid bce-color();
    }
  }

  &[disabled] {
    .codeflask {
      background: bce-color(disable);
    }
  }

  @include media-medium {
    .codeflask__textarea {
      height: 40px;
    }
  }
}
