:host {
  @include bce-color-default(primary);
  position: relative;
  display: inline-block;
  background-color: bce-color(chip);
  color: bce-color-t(chip);
  height: 32px;
  font-size: 14px;
  margin: 4px 0;
  border-radius: 16px;
  overflow: hidden;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  cursor: pointer;

  bce-ripple {
    background-color: bce-color();
  }

  [data-thumbnail],
  [data-icon],
  [data-remove] {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  [data-thumbnail],
  [data-icon] {
    top: 4px;
    left: 4px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    overflow: hidden;
    font-size: 90%;
    pointer-events: none;
  }

  [data-remove] {
    right: 8px;
    top: 7px;
    width: 18px;
    height: 18px;

    &:hover {
      color: bce-color(error);
    }
  }

  // Visually hide input
  > input {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
  }

  > label {
    display: block;
    height: inherit;
    padding: 0 12px;
    line-height: 32px;
    user-select: none;
    transition: padding 0.2s ease;
    cursor: inherit;
  }
}

:host([checked]) {
  color: bce-color-t();
  background-color: bce-color();
}

:host([thumbnail][icon]) [data-icon],
:host([thumbnail][checked]) [data-icon] {
  background-color: rgba(0, 0, 0, 20%);
  color: #fff;
}

:host([thumbnail]) > label,
:host(:not([type='filter'])[icon]) > label,
:host([type='filter'][checked]) > label {
  padding-left: 34px;
}

:host([removable]) > label {
  padding-right: 34px;
}
