:host {
  @include bce-color-default(primary);
  @include box-sizing();
  @include elevate(2);
  position: relative;
  display: inline-block;
  height: 36px;
  margin: 0 2px;
  background-color: bce-color();
  color: bce-color-t();
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  overflow: hidden;
  user-select: none;
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  bce-ripple {
    background-color: bce-color-t();
  }

  button {
    width: 100%;
    height: 100%;
    padding: 0 12px;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
    background-color: transparent;
    color: inherit;
    border: none;
    appearance: none;
    cursor: inherit;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      pointer-events: none;
      background-color: bce-color-t();
      opacity: 0;
    }

    &:hover:before {
      opacity: 0.1;
    }

    &:focus {
      outline: none;

      &:before {
        opacity: 0.2;
      }
    }
  }
}

:host([block]) {
  width: 100%;
}

:host([disabled]) {
  @include elevate(0);
  color: bce-color-t(disable);
  background-color: bce-color(disable);
  opacity: 0.5;
  cursor: default;

  button:before {
    display: none;
  }
}

:host([focus]) {
  @include elevate(4);
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

:host([icon]) button {
  span {
    padding-left: 24px;
  }

  bce-icon {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  &.icon-only {
    padding: 0;

    bce-icon {
      position: relative;
    }

    span {
      display: none;
    }
  }
}

:host([small]) {
  height: 28px;

  button {
    padding: 0 8px;

    span {
      padding-left: 18px;
    }
  }
}

:host([design='outline']) {
  border: 1px solid bce-color-d(light);

  button {
    padding: 0 11px;
  }
}

:host([design='outline']),
:host([design='text']) {
  @include elevate(0);
  background-color: transparent;
  color: bce-color();

  bce-ripple {
    background-color: bce-color();
  }

  button:before {
    background-color: bce-color();
  }
}

:host([design='outline'][disabled]),
:host([design='text'][disabled]) {
  color: bce-color-t(disable);
}

:host([design='outline'][small]) button {
  padding: 0 7px;
}

:host([design='text'][icon][block]) > button {
  > span {
    padding-left: 0;
  }

  > bce-icon {
    top: 2px;
    position: relative;
  }
}

:host([upload]) {
  // Visually hide input
  > input[type='file'] {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
  }
}
