:host {
  @include bce-color-default(primary);
  position: relative;
  display: block;
  width: 100%;
  height: 56px;
  background-color: bce-color();
  color: bce-color-t();

  header {
    box-sizing: border-box;
    @include elevate(4);
    position: fixed;
    width: inherit;
    height: inherit;
    background-color: inherit;
    color: inherit;
  }

  @include media-medium {
    header {
      padding: 0 calc((100vw - 930px) / 2);
    }
  }

  @include media-large {
    header {
      padding: 0 calc((100vw - 1110px) / 2);
    }
  }
}
