:host {
  @include bce-color-default(primary);
  position: relative;
  display: block;
  width: 100%;
  height: 56px;
  background-color: bce-color();
  color: bce-color-on();
  box-sizing: border-box;

  header {
    @include elevate(4);
    position: fixed;
    display: flex;
    align-items: center;
    width: inherit;
    height: inherit;
    background-color: inherit;
    color: inherit;
  }
}

:host([responsive]) {
  header {
    @include fixed-width();
  }
}
