html,
body {
  margin: 0;
  height: 100%;
}

bce-root {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    'stat stat'
    'head head'
    'main menu';
}

bce-root bce-status-bar {
  grid-area: stat;
  flex: 0 0 auto;
}

bce-root bce-header {
  grid-area: head;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

bce-root bce-header bce-logo {
  padding: 0 1rem;
}

bce-root main {
  grid-area: main;
  position: relative;
  padding: 1rem 1rem 82px;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: var(--bce-color-light-n);
}

bce-root bce-menu {
  grid-area: menu;
}

.preview {
  border: none;
  border-radius: 8px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
}
