:host {
  @include bce-color-default(primary);
  position: relative;
  display: block;
  width: 100%;
  height: 20px;
  z-index: 20;
  color: bce-color();

  > svg {
    position: fixed;
    top: 0;
    width: 100%;
    height: 20px;
    transform: scale(-1, 1);
    background-color: bce-color-d();
  }
}
