bce-ripple {
  position: absolute;
  display: block;
  width: 2px;
  height: 2px;
  background-color: #000;
  border-radius: 50%;
  animation: ripple 0.88s 1;
  pointer-events: none;
  opacity: 0.5;
  font-size: 0;

  @keyframes ripple {
    from {
      transform: scale(1);
    }
    to {
      opacity: 0;
      transform: scale(200);
    }
  }
}
