:host {
  @include bce-color-default(primary);
  position: relative;
  display: block;
  margin: 20px 0;
  height: 48px;

  > input,
  > textarea {
    width: 100%;
    height: inherit;
    transition: width 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    padding: 13px 12px;
    font-size: 0.9em;
    font-family: inherit;
    border: 1px solid bce-color-d(light);
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
  }

  > textarea {
    resize: none;
    overflow-y: hidden;
  }
}

:host([label]) {
  > input,
  > textarea {
    padding: 22px 12px 4px;
  }

  bce-label {
    position: absolute;
    margin: 14px 12px 6px;

    &[data-hover] {
      margin: 7px 12px;
      font-size: 0.8em;
    }
  }

  @include media-medium {
    > input,
    > textarea {
      width: 75%;
    }

    bce-label {
      position: relative;
      display: inline-block;
      margin: 0;
      width: 25%;

      &[data-hover] {
        margin: 0;
        font-size: 1em;
      }
    }
  }
}

@include media-medium {
  :host(:not([compact])) {
    height: 40px;
  }
}
