bce-input {
  @include bce-color(primary);
  position: relative;
  display: block;
  margin: 20px 0;
  text-align: right;

  > label {
    position: absolute;
    left: 12px;
    top: 15px;
    font-size: 1em;
    color: bce-color-l(dark);
    transition: top 0.15s cubic-bezier(0.4, 0, 0.2, 1),
      left 0.15s cubic-bezier(0.4, 0, 0.2, 1),
      font-size 0.15s cubic-bezier(0.4, 0, 0.2, 1), color 0.3s ease-in-out;
    user-select: none;

    &[data-hover] {
      top: 7px;
      font-size: 0.8em;
    }
  }

  &[focus] > label {
    color: bce-color();
  }

  &[disabled] > label {
    color: bce-color-t(disable);
  }

  > input {
    padding: 20px 12px 5px;
    width: 100%;
    height: 48px;
    font-size: 0.9em;
    border: 1px solid bce-color-d(light);
    border-radius: 4px;
    outline: none;

    transition: width 0.15s cubic-bezier(0.4, 0, 0.2, 1),
      border-color 0.3s ease-in-out, height 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  }

  &[focus] > input {
    border-color: bce-color();
  }

  &[disabled] > input {
    background-color: bce-color-l(disable);
    color: bce-color-t(disable);
  }

  > small {
    position: absolute;
    font-size: 12px;
    left: 12px;
    bottom: -16px;
    width: 100%;
    color: bce-color-l(dark);
    text-align: left;
    transition: left 0.15s cubic-bezier(0.4, 0, 0.2, 1);

    &:before {
      position: absolute;
      top: 2px;
      bottom: 2px;
      left: -4px;
      content: '';

      width: 1px;
      background-color: bce-color-l(dark);
    }
  }

  &[focus] > small:before {
    background-color: bce-color();
  }

  &[disabled] > small {
    color: bce-color(disable);

    &:before {
      background-color: bce-color(disable);
    }
  }

  @include media-medium {
    > label {
      left: 0;
      top: 10px;
      color: inherit;

      &[data-hover] {
        top: 10px;
        font-size: inherit;
      }
    }

    // &[disabled] > label {
    //   color: bce-color-l(dark);
    // }

    > input {
      position: relative;
      right: 0;
      height: 40px;
      padding: 6px 12px;
      width: 75%;
      font-size: 0.9em;
    }

    > small {
      left: calc(25% + 12px);
    }
  }
}
