:host {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  padding-top: 56px;

  button {
    position: absolute;
    right: 0px;
    top: 0px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    width: 56px;
    height: 56px;
    padding: 16px;
    background-color: transparent;
    border: none;
    cursor: pointer;

    span {
      flex: 0 0 3px;
      width: 24px;
      background-color: bce-color-t();
      border-radius: 3px;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  nav {
    display: flex;
    height: 0;
    flex-flow: column nowrap;
    background-color: bce-color();
    transition: height 0.3s ease-in-out;
    overflow: hidden;
  }

  @include media-medium {
    @include elevate(0, false);
    position: relative;
    width: auto;
    padding: 0 16px;
    float: right;

    button {
      display: none;
    }

    nav {
      flex-flow: row nowrap;
      height: auto;
    }
  }
}

:host([active]) {
  @include elevate(4, false);

  nav {
    height: auto;
  }
}
