:host {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 56px;
  border: none;
  overflow: hidden;

  bce-ripple {
    background-color: bce-color-on();
  }

  button {
    flex-flow: column nowrap;
    justify-content: space-around;
    display: inline-flex;
    width: inherit;
    height: inherit;
    padding: 16px;
    background-color: transparent;
    border: none;
    cursor: pointer;

    span {
      flex: 0 0 3px;
      width: 24px;
      background-color: bce-color-on();
      border-radius: 3px;
      pointer-events: none;
    }

    &:hover {
      background-color: bce-color(600);
    }

    &:focus {
      background-color: bce-color(700);
    }
  }
}
