@import './bce-link.scss';

:host {
  width: 100%;

  bce-ripple {
    background-color: bce-color-on();
  }

  a {
    background-color: bce-color();
    text-transform: none;
    padding: 0 10px;

    &:focus:before {
      display: none;
    }
  }

  @include media-medium {
    width: initial;
  }
}

:host(.active) {
  a {
    color: bce-color-on(3);
  }
}
