bce-dropdown-menu {
  .dropdown-menu {
    @include elevate(8);
    display: none;
    background-color: bce-color(dark);
    font-size: 1rem;
    border-radius: 4px;
    animation: slide-in 330ms;

    &[data-active] {
      display: block;
    }

    @keyframes slide-in {
      from {
        opacity: 0.1;
      }
      to {
        opacity: 1;
      }
    }
  }
}
