html,
body {
  margin: 0;
  height: 100%;
}

bce-root {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
}

bce-root bce-status-bar {
  flex: 0 0 auto;
}

bce-root bce-header {
  flex: 0 0 auto;
}

#main-with_sidebar {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding-top: 50px;
  height: 100%;
}

bce-root main {
  flex: 1 0 90%;
  box-sizing: border-box;
  position: relative;
  padding: 1rem 1rem 82px;
  height: 100%;
  overflow-x: hidden;
}
