bce-message {
  @include elevate(6);
  position: fixed;
  left: 16px;
  right: 16px;
  bottom: 19px;
  display: block;
  max-width: 600px;
  background-color: bce-color(dark);
  color: bce-color-t(dark);
  font-size: 14px;
  border-radius: 4px;
  padding: 16px;
  opacity: 0.95;
  animation: slide-in 200ms 1;

  @keyframes slide-in {
    from {
      bottom: 0;
    }
    to {
      bottom: 19px;
    }
  }
}

bce-root[fab] bce-message {
  right: 89px;
}
