bce-menu-item {
  margin: 1rem;

  > a {
    color: bce-color-t();
    text-decoration: none;
    text-transform: uppercase;

    &:active,
    &:hover {
      border-bottom: 1px solid bce-color-t();
      color: bce-color-t();
    }
  }
}

.current {
  border-bottom: 1px solid bce-color-t();
  color: bce-color-t();
}
