@mixin bce-define-color($color, $name) {
  $color1: nth($color, 1);
  $color2: #fff;

  @if length($color) > 1 {
    $color2: nth($color, 2);
  }

  --bce-color-#{$name}-l: #{lighten($color1, 10%)};
  --bce-color-#{$name}-n: #{$color1};
  --bce-color-#{$name}-d: #{darken($color1, 10%)};
  --bce-color-#{$name}-t: #{$color2};

  *[color='#{$name}'] {
    @include bce-color($name);
  }
}

@mixin bce-color($name) {
  --bce-color-l: #{bce-color($name, 'l')};
  --bce-color-n: #{bce-color($name, 'n')};
  --bce-color-d: #{bce-color($name, 'd')};
  --bce-color-t: #{bce-color($name, 't')};
}

@function bce-color($name: '', $modifier: 'n') {
  $var-name: --bce-color;
  @if $name != '' {
    $var-name: --bce-color-#{$name};
  }

  @return unquote('var(#{$var-name}-#{$modifier})');
}

@function bce-color-t($name: '') {
  @return bce-color($name, 't');
}

@function bce-color-l($name: '') {
  @return bce-color($name, 'l');
}

@function bce-color-d($name: '') {
  @return bce-color($name, 'd');
}
