:host {
  small {
    position: absolute;
    font-size: 12px;
    bottom: -16px;
    left: 12px;
    text-align: left;
    transition: left 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    color: bce-color-on(surface, 2);

    &:before {
      content: '';
      position: absolute;
      left: -6px;
      font-weight: 100;
    }
  }
}

:host([disabled]) {
  small {
    color: bce-color-on(surface, 3);
  }
}

:host([focus]) {
  small {
    color: bce-color-on(surface, 1);
  }
}

:host([error]) {
  bce-label {
    color: bce-color(error);
  }

  small {
    color: bce-color(error);
  }
}

@include media-medium {
  :host(:not([compact])[label]) {
    small {
      left: calc(25% + 12px);
    }
  }
}
