@import '../../../scss/input-creator.scss';

:host {
  @include bce-color-default(primary);
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  margin: 20px 0;
  min-height: 40px;
}

:host([center]) {
  text-align: center;
}

:host([error]) {
  @include bce-color-default(error);
}

:host([label]) {
  bce-label {
    flex: 0 0 25%;
    height: 100%;
    line-height: 40px;
  }

  .fieldset {
    flex: 0 0 75%;
  }

  @include media-medium {
    :host(:not([compact])) {
      flex-flow: row nowrap;
    }
  }
}

:host([type='dropdown']) {
  .trigger {
    position: relative;
    flex: 1 0 75%;

    bce-input {
      margin: 0;
      cursor: pointer;

      &[data-active] {
        cursor: initial;
      }
    }

    bce-button {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-55%);
      pointer-events: none;
    }
  }

  [role='listbox'] {
    @include elevate(2, false);
    display: none;
    margin: 0;
    padding: 0;
    font-size: 0.9em;
    border-radius: 4px;
    background-color: bce-color(surface);
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 3;

    &[data-active] {
      display: block;
      max-height: 300px;
    }
  }
}

:host([type='input']) {
  .container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    min-height: 40px;
    padding: 1px;
    border: 1px gainsboro solid;
    border-radius: 4px;
    background-color: bce-color(surface);
    border: 1px solid bce-color-on(surface, 4);
    width: 100%;

    bce-chip {
      margin: 2px;
    }

    input {
      flex: 1 0 auto;
      border: none;
      padding: 0 12px;
      background-color: transparent;
      color: bce-color-on(surface);
      height: 32px;
      margin: 2px;

      &:focus {
        outline: none;
      }
    }
  }
}

:host([type='input']:focus-within) {
  .container {
    border-color: bce-color();
  }
}

:host([type='input'][disabled]) {
  .container {
    background-color: bce-color-on(surface, 4);
    border-color: bce-color-on(surface, 4);

    input {
      display: none;
    }
  }
}

// :host([type='input'][compact]) {
//   .container {
//     width: 100%;
//   }
// }

:host([design='matrix']) {
  margin: 0;

  .fieldset {
    display: flex;
    justify-content: space-between;
  }
}
