:host {
  @include bce-color-default(light);
  @include elevate(4, false);
  position: relative;
  display: block;
  width: 0;
  height: 100%;
  transition: width 0.3s ease-in-out;
  overflow: auto;
  z-index: 3;

  aside {
    position: fixed;
    background-color: bce-color();
    overflow: auto;
    width: inherit;
    height: 100%;
    transition: width 0.3s ease-in-out;
  }

  @include media-small {
    width: 256px;
  }
}
