:host {
  @include bce-color-default(primary);
  position: fixed;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  margin: 16px;
  right: 0;
  bottom: 0;
  z-index: 6;

  bce-ripple {
    background-color: bce-color-on();
  }

  .trigger {
    @include elevate(6);
    position: relative;
    padding: 0;
    width: 56px;
    height: 56px;
    background-color: bce-color();
    color: bce-color-on();
    border: none;
    border-radius: 50%;
    appearance: none;
    overflow: hidden;
    cursor: pointer;

    bce-icon {
      pointer-events: none;
    }

    &:hover {
      background-color: bce-color(400);
    }

    &:focus {
      outline: none;
      background-color: bce-color(300);
    }
  }

  [role='menu'] {
    display: flex;
    flex-flow: column nowrap;
  }
}

:host([active]) .backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0.6;
}

:host([label]) .trigger {
  .label {
    position: fixed;
    right: 88px;
    bottom: 16px;
    left: 16px;
    height: 56px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    pointer-events: none;
    visibility: hidden;

    span {
      @include bce-color-default(dark);
      @include elevate(6);
      background-color: bce-color();
      color: bce-color-on();
      padding: 5px 10px;
      border-radius: 4px;
    }
  }

  &:hover .label,
  &:focus .label,
  &[aria-expanded] .label {
    visibility: visible;
  }
}

:host([inline]) {
  position: relative;
  margin: 0;
  z-index: 1;

  .trigger {
    @include elevate(2);
    order: -1;
    align-self: stretch;
    margin: 10px auto;
    width: 50px;
    height: 50px;
  }

  [role='menu'] {
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  .backdrop {
    display: none;
  }
}

:host([inline][active]) [role='menu'] {
  @include media-medium {
    text-align: center;
    display: block;
  }
}
