:host {
  @include bce-color-default(primary);
  position: fixed;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  margin: 16px;
  right: 0;
  bottom: 0;
  z-index: 6;

  bce-ripple {
    background-color: bce-color-t();
  }

  > button {
    @include elevate(6);
    position: relative;
    padding: 0;
    width: 56px;
    height: 56px;
    background-color: bce-color();
    color: bce-color-t();
    border: none;
    border-radius: 50%;
    appearance: none;
    overflow: hidden;
    cursor: pointer;

    > bce-icon {
      pointer-events: none;
    }

    &:focus {
      border: none;
      outline: none;
    }
  }
}

:host([active]) .backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: bce-color(dark);
  opacity: 0.8;
}

:host([info]) [data-info] {
  position: fixed;
  right: 88px;
  bottom: 16px;
  left: 16px;
  height: 56px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  pointer-events: none;

  > bce-button {
    @include bce-color-inherit();
    display: block;
    font-size: 12px;
    text-transform: none;
    pointer-events: auto;
  }
}

:host([inline]) {
  position: relative;
  margin: 0;
  z-index: 1;

  > button {
    order: -1;
    align-self: stretch;
    margin: 10px auto;
    width: 50px;
    height: 50px;
  }

  .container {
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  .backdrop {
    display: none;
  }
}

:host([inline][active]) .container {
  display: flex;

  @include media-medium {
    text-align: center;
    display: block;
  }
}
