:host {
  @include bce-color-default(primary);
  display: inline-block;

  .trigger {
    cursor: pointer;
  }

  .dropdown {
    @include elevate(8);
    display: block;
    background-color: bce-color();
    border-radius: 4px;
    transition: opacity 0.3s ease-in-out;
    // opacity: 0;
    max-width: 400px;
  }
}
