:host {
  @include bce-color-inherit();
  position: relative;
  display: inline-block;
  transition: margin 0.15s cubic-bezier(0.4, 0, 0.2, 1),
    font-size 0.15s cubic-bezier(0.4, 0, 0.2, 1), color 0.3s ease-in-out;
  pointer-events: none;
  text-align: left;

  bce-tooltip {
    pointer-events: auto;
  }
}

:host([focus]) {
  color: bce-color();
}
