:host {
  --bce-dialog-max-width: 560px;
  @include bce-color-default(surface);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 64;
  display: none;

  .backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }

  bce-form {
    @include elevate(24);
    position: absolute;
    padding: 24px;
    width: calc(100vw - 64px);
    max-width: var(--bce-dialog-max-width);
    border-radius: 4px;
    background-color: bce-color(surface);
    color: bce-color-on(surface);
    pointer-events: auto;

    .action-header {
      position: absolute;
      top: 2px;
      right: 2px;

      bce-button {
        @include bce-color-default(dark);
      }
    }

    .action-bar {
      text-align: right;
      margin: 0 -16px -16px 0;
    }
  }
}

:host([active]) {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Currently only works in Chrome
:host-context([color-scheme='dark']) bce-form bce-button {
  @include bce-color-default(light);
}
