:host {
  position: relative;
  display: flex;
}

:host([type='checkbox']),
:host([type='radio']) {
  min-height: 32px;
  font-size: 0.9em;
  cursor: pointer;

  input {
    flex: 0 0 20px;
    display: inline-block;
    margin: 6px 10px 6px 3px;
    width: 20px;
    height: 20px;
    border: 1px solid bce-color-on(surface, 2);
    background-color: bce-color(surface, 4);
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    cursor: pointer;
  }

  label {
    position: relative;
    display: inline-block;
    line-height: 32px;
    height: 100%;
    cursor: pointer;

    &:before {
      position: absolute;
      content: '';
      background-color: bce-color(300);
      right: -10px;
      top: 2px;
      bottom: 2px;
      left: -35px;
      opacity: 0;
      border-radius: 6px;
    }

    &[data-empty]:before {
      right: 5px;
    }
  }
}

:host([type='checkbox'][disabled]),
:host([type='radio'][disabled]) {
  input {
    border-color: bce-color-on(surface, 4);
    background-color: bce-color-on(surface, 4);
  }

  label {
    color: bce-color-on(surface, 3);

    &:before {
      display: none;
    }
  }
}

:host([type='checkbox']:focus-within),
:host([type='radio']:focus-within) {
  label:before {
    opacity: 0.3;
  }
}

:host([type='checkbox']:hover),
:host([type='radio']:hover) {
  label:before {
    opacity: 0.1;
  }
}

:host([type='checkbox']) input {
  border-radius: 3px;
}

:host([type='checkbox'][checked]) {
  input {
    background-color: bce-color();
    border-color: bce-color();
  }

  bce-icon {
    position: absolute;
    color: bce-color-on();
    margin: 0 0 0 5px;
    line-height: 33px;
    font-size: 13px;
    pointer-events: none;
  }
}

:host([type='checkbox'][checked][disabled]) input {
  background-color: bce-color(300);
  border-color: bce-color(300);
}

:host([type='dropdown']) {
  padding: 10px 14px;
  border-radius: 4px;
  cursor: pointer;

  li {
    list-style: none;
  }

  // Visually hide input
  input {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
  }
}

:host([type='dropdown']:focus-within) {
  background-color: bce-color(500);
  color: bce-color-on();
}

:host([type='dropdown']:hover) {
  background-color: bce-color(400);
  color: bce-color-on();
}

:host([type='radio']) input {
  border-radius: 50%;
}

:host([type='radio'][checked]) input {
  border-width: 2px;
  border-color: bce-color();

  &:after {
    position: absolute;
    content: '';
    margin: 2px;
    width: 12px;
    height: 12px;
    line-height: 32px;
    background-color: bce-color();
    border-radius: 50%;
  }
}

:host([type='radio'][checked][disabled]) input {
  border-color: bce-color(300);

  &:after {
    background-color: bce-color(300);
  }
}
