:host {
  position: relative;
  display: flex;
}

:host([type='checkbox']),
:host([type='radio']) {
  min-height: 32px;
  font-size: 0.9em;

  input {
    flex: 0 0 20px;
    margin: 6px 10px 6px 3px;
    width: 20px;
    height: 20px;
    border: 1px solid bce-color-d(light);
    background-color: bce-color-l(light);
    -webkit-appearance: none;
    appearance: none;
    display: inline-block;
  }

  label {
    display: inline-block;
    line-height: 32px;
    height: 100%;
  }
}

:host([type='checkbox']) input {
  border-radius: 3px;
}

:host([type='checkbox'][checked]) {
  input {
    background-color: bce-color();
    border-color: bce-color();
  }

  bce-icon {
    position: absolute;
    color: bce-color-t();
    margin: 0 0 0 5px;
    line-height: 33px;
    font-size: 13px;
    pointer-events: none;
  }
}

:host([type='radio']) input {
  border-radius: 50%;
}

:host([type='radio'][checked]) input {
  border-width: 2px;
  border-color: bce-color();

  &:after {
    position: absolute;
    content: '';
    margin: 2px;
    width: 12px;
    height: 12px;
    line-height: 32px;
    background-color: bce-color();
    border-radius: 50%;
  }
}
