:host {
  @include bce-color-default(primary);
  position: relative;
  display: inline-block;

  input[type='range'] {
    -webkit-appearance: none;
    appearance: none;
    height: 4px;
    border-radius: 2px;
    cursor: pointer;

    background: linear-gradient(
      to right,
      bce-color() var(--fill-width, 0),
      bce-color-d(light) 0
    );

    &::-webkit-slider-thumb {
      @include elevate(1, false);
      -webkit-appearance: none;
      appearance: none;
      width: 14px;
      height: 14px;
      background-color: bce-color();
      border-radius: 50%;
    }

    &::-moz-range-thumb {
      @include elevate(1, false);
      width: 14px;
      height: 14px;
      background-color: bce-color();
      border-radius: 50%;
      border: none;
    }
  }
}
